<%- include('includes/header') %>

    <div class="container-fluid">
        <div class="row">
            
            <!-- Separation Div -->
            <div class="col-sm-12 col-md-1"></div>

            <!-- Side Bar Div -->
            <div class="col-sm-12 col-md-12 col-lg-2 c3 full-height">
                <div class="divboxes c1">
                    <h5> Welcome to your pet's profile page! Here you can view and edit information about your pet</h5>
                </div>
             </div>
            
            <!-- Middle Div -->
            <div class="col-sm-12 col-md-12 col-lg-8 c2">

                <div class="d-flex justify-content-center margins">
                    <h1>Pet Profile Page</h1>
                </div>
                <p class="centertext"> Pet Profile Page </p>
                <% if(pets.length > 0 ){
                    pets.forEach(pet => { %>
                        <div class="row pet_info">
                            <div class="col-lg-8 col-sm-12 divboxes">
                                <p>Pet name: <%= pet.pet_name %></p>
                                <p>Pet breed: <%= pet.pet_breed %></p>
                                <p>Pet age: <%= pet.pet_age %></p>
                                <p>Pet allergies: <%= pet.pet_allergy %></p>
                                <p>Additional Info: <%= pet.pet_other %></p>
                                <p>Home vet name: </p>
                                <p>Home vet contact info: TODO: make a request using the id to get vet info</p>
                                <input class="edit-pet-btn" type="button" data-pet-id="<%=pet.id %>" data-user-id="<%= pet.user_id %>" value="Edit">
                            </div>
                            <div class="col-lg-4 col-sm-12 photodiv">
                                <img class="pet_photo" alt="Your Pet Photo" src=<%= pet.pet_photo %>>
                            </div>
                            
                        </div>
                
                <% });}else{ %> 
                    <p>Pets will be displayed here once you add some!</p>
                    <%} %>
                    <form hidden id="newPetForm" enctype="multipart/form-data" class="card p-4 shadow-lg mt-4">
                        <div class="card-body">
                            <h3 class="card-title text-center mb-3">Add a New Pet</h3>
                            
                            <div class="mb-3">
                                <label for="pet_name" class="form-label">Pet Name:</label>
                                <input type="text" id="pet_name" name="pet_name" class="form-control" placeholder="Enter pet name" required>
                            </div>
                    
                            <div class="mb-3">
                                <label for="pet_breed" class="form-label">Pet Breed:</label>
                                <input type="text" id="pet_breed" name="pet_breed" class="form-control" placeholder="Enter pet breed" required>
                            </div>
                    
                            <div class="mb-3">
                                <label for="pet_age" class="form-label">Pet Age:</label>
                                <input type="number" id="pet_age" name="pet_age" class="form-control" placeholder="Enter pet age" min="0" required>
                            </div>
                    
                            <div class="mb-3">
                                <label for="pet_allergies" class="form-label">Pet Allergies:</label>
                                <input type="text" id="pet_allergies" name="pet_allergies" class="form-control" placeholder="Enter pet allergies (if any)">
                            </div>
                    
                            <div class="mb-3">
                                <label for="pet_other" class="form-label">Additional Information:</label>
                                <textarea id="pet_other" name="pet_other" class="form-control" rows="2" placeholder="Enter any additional pet information"></textarea>
                            </div>
                    
                            <div class="mb-3">
                                <label for="home_vet" class="form-label">Home Vet:</label>
                                <select id="home_vet" name="home_vet" class="form-select">
                                    <option value="">Loading favourites...</option>
                                </select>
                            </div>
                    
                            <div class="mb-3">
                                <label for="pet_photo" class="form-label">Upload a Picture of Your Pet:</label>
                                <input type="file" id="pet_photo" name="pet_photo" class="form-control">
                            </div>
                    
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-primary w-100">Add Pet</button>
                            </div>
                        </div>
                    </form>
                    
                    <!-- Button to Show the Form -->
                    <div class="text-center mt-3">
                        <button id="newPetButton" class="btn btn-outline-success">Add Another Pet</button>
                    </div>
                    
            
             <!-- Separation Div -->
            <div class="col-sm-12 col-md-1"></div>
             
        </div>
    </div>



    


<script src="/js/pet_profile.js"></script>
<%- include('includes/footer') %>