<%- include('includes/header') %>
    <h1> Temp User Query Test Page </h1>

    <h3> List of Users </h3>
    <ul>
        <% users.forEach(user => { %>
        <li><%= user.user_name %> | <%= user.user_phone %> | <%= user.user_email %> | <%= user.isname_public %> | <%= user.isphone_public %> | <%= user.isemail_public %> | <%= user.user_id %> </li>
    <% }); %>
    </ul>
    <p id="user"></p>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const user = getCookie("user");
            console.log(user);
            document.getElementById("user").innerHTML = user.user_name; 
        });
    </script>

<%- include('includes/footer') %>